{% extends "auctions/layout.html" %}

{% load static %}
{% load sass_tags %}


{% block scss %}
    <link rel="stylesheet" type="text/css" href="{% sass_src 'auctions/create-listing.scss' %}">{% endblock %}

{% block title %}
    Create listing
{% endblock%}

{% block body %}
    <h2 class="page-title">Create New Listing</h2>
    <div class="newlisting-form-wrapper">
        <form method="POST" action="{% url 'create_listing' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Create">
        </form>
    </div>
{% endblock %}