{% extends "auctions/layout.html" %}
{% load sass_tags %}

{% block title %}
    Active Listing
{% endblock %}

{% block scss %}
    <link rel="stylesheet" type="text/css" href="{% sass_src 'auctions/index.scss' %}">
{% endblock %}

{% block body %}
    <h2>Active Listings</h2>
    {% if not listings_in_category %}
        No listings Added in this category ! Maybe come back later.
    {% else %}
    
    {% endif %}
    
    {% for listing_in_category in listings_in_category %}
        <a href="{% url 'listing_page' listing_in_category.id %}">
            <div class="listing-wrapper" id={{ listing_in_category.id }}>
                <div class="listing-img-wrapper">
                    <img class="" src='{{ listing_in_category.image.url }}'>
                </div>
                <div class="listing-details-wrapper">
                    <h3 class='title'>{{ listing_in_category.title }}</h3>
                    <h4 class='current-bid'><b>Price: </b>${{ listing_in_category.current_bid }}</h4>
                    <h5 class='description'>{{ listing_in_category.description }}</h5>
                    <p class='created-at'>{{ listing_in_category.created_at }}</p>
                </div>
            </div>
        </a>
    {% endfor %}


{% endblock %}